<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />

  </head>
  <body>
    <h1>Quora</h1>

    <h1>Edit Your Post</h1>
    <!-- <p>Post username <b>@<%= post.username %></b></p> -->
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
      <textarea name="content" placeholder="Enter content" rows="5"cols="70"><%=post.content%></textarea>
      <br />
      <br />
      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
