<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question</title>
    <link rel="icon" type="image/x-icon" href="/icon.ico" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Quora</h1>
    <div class="post">
      <h2>id : <%=post.id %></h2>
      <h2>Username : @<%=post.username %></h2>
      <h3>Content : <%=post.content %></h3>
    </div>
  </body>
</html>
